.cart {
  font-family: 'Roboto', sans-serif;

  &__item-container {
    display: grid;
    row-gap: 0.5rem;
    margin: 0 4rem;
    grid-auto-rows: 110px;
  }
  &__item {
    display: grid;
    grid-template-columns: 200px 3fr 1fr 1fr auto;
    column-gap: 1rem;
    align-items: center;
  }
  &__subheader {
    margin: 2rem;
  }
  &__img-wrap {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      max-height: 110px;
      object-fit: cover;
    }
  }
}
