.cart {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__item-container {
    display: grid;
    row-gap: 0.5rem;
    margin: 0 4rem;
    grid-auto-rows: 110px;
  }
  &__item {
    display: grid;
    grid-template-columns: 200px 3fr 0.5fr 0.5fr 100px;
    column-gap: 1rem;
    align-items: center;
  }
  &__subheader {
    margin: 2rem;
  }
  &__header {
    font-weight: bold;
  }
  &__header-price {
    grid-column-start: 3;
  }

  &__remove {
    border: none;
    height: 40px;
    background: rgb(226, 86, 86);
    color: white;
    cursor: pointer;
  }
  &__empty {
    background: rgb(65, 196, 240);
    color: white;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
  }
  &__img-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__input-wrapper {
    display: grid;
    place-items: center;
    row-gap: 1rem;
    margin-top: 4rem;
    background: rgb(226, 226, 226);
    padding: 5rem 0;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;

    input:first-of-type,
    span,
    .cart__total {
      margin-bottom: 1rem;
    }
    input {
      padding: 1rem;
      border: none;
      background: rgb(235, 235, 235);
    }
    button {
      border: none;
      background: #64bd64;
      color: white;
      padding: 1rem;
    }
    span {
      padding: 1rem;
      text-align: center;
      background: rgb(65, 196, 240);
      color: white;
    }
  }
  &__coupon {
    display: flex;
    align-items: flex-start;
    input {
      flex: 1;
    }
  }
  &__total {
    font-weight: bold;
    text-align: center;
  }
  &__cta {
    padding: 1rem 3rem;
    border: none;
    background: #64bd64;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background: #58aa58;
    }
  }
  &__qty-wrap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 40px;
    button {
      background: rgb(65, 196, 240);
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background: rgb(51, 173, 214);
      }
    }
  }
  &__qty {
    display: grid;
    place-items: center;
    background: rgb(238, 238, 238);
    color: black;
  }
}
