.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 800ms linear infinite; /* Safari */
  animation: spin 800ms linear infinite;
}
.loader-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
