@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.reviews {
  font-family: 'Roboto', sans-serif;
}

.reviews__item-wrap {
  border-bottom: 1px solid #bbbbbb;
  padding: 0.75rem;
  margin-bottom: 0.25rem;
  max-width: 500px;
}

.reviews__item-wrap:first-of-type {
  border-top: 1px solid #bbbbbb;
}

.reviews__title {
  margin: 0;
  margin-left: 1rem;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.reviews__author {
  margin-right: 5px;
}

.reviews__author span {
  color: #697ef3;
}

.reviews__date {
  color: rgba(0, 0, 0, 0.562);
}

.cart {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item-container {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  margin: 0 4rem;
  grid-auto-rows: 110px;
}

.cart__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 3fr 0.5fr 0.5fr 100px;
      grid-template-columns: 200px 3fr 0.5fr 0.5fr 100px;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__subheader {
  margin: 2rem;
}

.cart__header {
  font-weight: bold;
}

.cart__header-price {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.cart__remove {
  border: none;
  height: 40px;
  background: #e25656;
  color: white;
  cursor: pointer;
}

.cart__empty {
  background: #41c4f0;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.cart__img-wrap {
  width: 100%;
  height: 100%;
}

.cart__img-wrap img {
  height: 100%;
  width: 100%;
  max-height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__input-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 1rem;
  margin-top: 4rem;
  background: #e2e2e2;
  padding: 5rem 0;
}

.cart__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
}

.cart__input-container input:first-of-type,
.cart__input-container span,
.cart__input-container .cart__total {
  margin-bottom: 1rem;
}

.cart__input-container input {
  padding: 1rem;
  border: none;
  background: #ebebeb;
}

.cart__input-container button {
  border: none;
  background: #64bd64;
  color: white;
  padding: 1rem;
}

.cart__input-container span {
  padding: 1rem;
  text-align: center;
  background: #41c4f0;
  color: white;
}

.cart__coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__coupon input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart__total {
  font-weight: bold;
  text-align: center;
}

.cart__cta {
  padding: 1rem 3rem;
  border: none;
  background: #64bd64;
  color: white;
  cursor: pointer;
}

.cart__cta:hover {
  background: #58aa58;
}

.menu {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.link {
  color: black;
  text-decoration: none;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.link:hover {
  background: gray;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 800ms linear infinite;
  /* Safari */
  animation: spin 800ms linear infinite;
}

.loader-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  pointer-events: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */