@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "reviews";
@import "cart";
@import "header";
@import "loader";
@import "productview";
@import "detailview";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
