@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import 'reviews';
@import 'cart';
@import 'header';
@import 'loader';
@import 'productview';
@import 'order';
@import 'detailview';
@import 'footer';
@import 'cartAsync';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
